<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Ajuda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-icon name="arrow-forward-circle-outline"></ion-icon> 
      <a href="https://angular.io/guide/router-tutorial-toh" 
      alt="Material oficial do Angular sobre roteamento de páginas">Add in-app navigation with routing</a><br>
    </ion-item>
    <ion-item>
      <ion-icon name="server-outline"></ion-icon> 
      <a href="https://angular.io/tutorial/toh-pt4#add-services" 
      alt="Material oficial do Angular sobre criação de serviços/providers de interface">Add services</a><br>
    </ion-item>
    <ion-item>
      <ion-icon name="image-outline"></ion-icon> 
      <a href="https://ionicons.com" 
      alt="Material oficial do Ionic Framework sobre ícones">Beautifully crafted open source icons</a><br>
    </ion-item>
    <ion-item>
      <ion-icon name="color-palette-outline"></ion-icon> 
      <a href="https://ionicframework.com/docs/theming/basics" 
      alt="Material oficial do Ionic Framework sobre temas e cores">Theming Basics</a><br>
    </ion-item>
    <ion-item>
      <ion-icon name="pulse-outline"></ion-icon> 
      <a href="https://ionicframework.com/docs/angular/lifecycle" 
      alt="Material oficial do Ionic Framework sobre ciclo de vida das páginas">Ionic Page Life Cycle</a><br>
    </ion-item>

  </ion-list>
</ion-content>
