<h2>Projeto Bloco de Notas</h2>
<p>
    Projeto de exemplo sobre framework Angular. Características do framework que são abordadas:
</p>
<ul>
    <li>Criação e execução de projetos</li>
    <li>Criação de classes de dados</li>
    <li>Criação de componentes</li>
    <li>Recurso data-binding</li>
    <li>Diretivas de template (ngFor)</li>
    <li>Uso de pipes</li>
    <li>Recurso mestre-detalhe entre componentes (@Input)</li>
    <li>Navegação interna entre páginas</li>
    <li>Serviços de interface (providers)</li>
    <li>Acesso a recursos externos</li>
</ul>
