
<h2>
    Para mais informações sobre roteamento de páginas, acesse material do Angular:
</h2>
<a href="https://angular.io/tutorial/toh-pt2#display-a-selection-list" 
    alt="Material oficial do Angular sobre exibição de listas">Display a selection list</a><br>
<a href="https://angular.io/guide/router-tutorial-toh" 
    alt="Material oficial do Angular sobre roteamento de páginas">Add in-app navigation with routing</a><br>
<a href="https://angular.io/tutorial/toh-pt4#add-services" 
    alt="Material oficial do Angular sobre criação de serviços/providers de interface">Add services</a><br>
