.recuperar {
    background-color: #428cff;
    text-decoration: none;
    color: white;
}

.excluir {
    background-color: #ff4961;
    text-decoration: none;
    color: white;
}

.removido {
    text-decoration: line-through;
    color: gray;
}

.ativo {
    color: #243290; /* Logo Unisinos */
}

ion-header {
    background-color: #243290; /* Logo Unisinos */
    color: white;
}